.credit__inner {
    width  : 1170px;
    margin : 0 auto;
    padding: 53px 135px 57px 70px;
    @include flex;
    background : rgba(246, 247, 255, 1);
    align-items: flex-start;

    @media (max-width: 1023.5px) and (min-width: 768px) {
        width  : 100%;
        padding: 54px 46px;
    }

    @media (max-width: 767.5px) {
        width   : 320px;
        padding : 54px 35px 112px 15px;
        position: relative;
    }
}

.credit__inner-left-title {
    font-family  : $robo;
    font-weight  : 500;
    font-size    : 22px;
    color        : rgba(31, 30, 37, 1);
    margin-bottom: 30px;
    line-height  : 140%;
    width        : 286px;
    font-weight  : 600;

    @media (max-width: 1023.5px) and (min-width: 768px) {
        font-size    : 18px;
        width        : 241px;
        margin-bottom: 27px;
    }

    @media (max-width: 767.5px) {
        font-size    : 16px;
        margin-bottom: 21px;
        width        : 232px;

    }
}

.credit__inner-left-list {
    @media (max-width: 767.5px) {
        width: 227px;
    }
}

.credit__inner-left-list-item {
    font-family  : $robo;
    font-size    : 18px;
    position     : relative;
    padding-left : 21px;
    margin-bottom: 20px;

    @media (max-width: 1023.5px) and (min-width: 768px) {
        font-size   : 16px;
        padding-left: 22px;
    }

    @media (max-width: 767.5px) {
        font-size    : 14px;
        padding-left : 15px;
        margin-bottom: 16px;

    }

    &::before {
        content : url("img/check-tab.svg");
        position: absolute;
        left    : 0;
    }

    &:last-child {
        margin-bottom: 32px;

        @media (max-width: 1023.5px) and (min-width: 768px) {
            width        : 360px;
            margin-bottom: 31px;
        }

        @media (max-width: 767.5px) {
            width        : auto;
            margin-bottom: 26px;
            left         : -2px;
        }
    }
}

.credit__inner-left-info {
    font-weight: normal;
    font-size  : 18px;
    color      : #1F1E25;
    font-family: $robo;
    line-height: 140%;
    width      : 338px;

    @media (max-width: 1023.5px) and (min-width: 768px) {
        font-size: 16px;
    }

    @media (max-width: 767.5px) {
        font-size: 14px;
        width    : 286px;
    }
}

.credit__inner-right {
    background: url("img/tab-2.png") 0 2px /auto auto no-repeat;
    width     : 440px;
    height    : 290px;

    @media (max-width: 1023.5px) and (min-width: 768px) {
        background: url("img/tab-tab-2.png") 0 8px /auto auto no-repeat;
    }

    @media (max-width: 767.5px) {
        background: url("img/mobile-tab-2.png") 0 8px /auto auto no-repeat;
        position  : absolute;
        padding   : 1px;
        right     : 0px;
        top       : 89px;
        width     : 87px;
        height    : 113px;
    }
}

.credit__inner-left {
    width: 395px;

    @media (max-width: 1023.5px) and (min-width: 768px) {
        margin-right: 28px;
    }

    @media (max-width: 767.5px) {
        @include m0p0
    }
}

.credit__inner-left-info-calculator {
    font-weight    : 600;
    text-decoration: underline;
}