.footer {
    background: #F6F7FF;


}

.footer__wrapper {
    @include flex;
    justify-content: flex-start;
    align-items    : flex-start;
    width          : 1370px;
    margin         : 0 auto;
    padding        : 60px 98px;
    background     : #F6F7FF;

    @media (max-width: 1023.5px) {
        width    : 560px;
        padding  : 61px 0;
        flex-wrap: wrap;
        margin   : 0;
    }
}

.footer__wrapper-inner {
    @media (max-width: 1023.5px) {
        width  : 772px;
        margin : 0 auto;
        padding: 0 47px;
    }
}

.footer__logo {
    max-width: 252px;
    @include flex;
    justify-content: flex-start;
    flex-wrap      : wrap;
    margin-top     : -5px;
    position       : relative;
    margin-right   : 81px;

    @media (max-width: 1023.5px) {
        margin-right: 250px;
    }
}

.footer__img {
    display   : inline-block;
    margin-top: -6px;
    position  : absolute;
    top       : 1px;

    @media (max-width: 1023.5px) {
        margin-left: -2px;
    }
}

.footer__title {
    font-family   : $work;
    font-weight   : bold;
    font-size     : 20px;
    padding-top   : 2px;
    letter-spacing: 1.3px;
    word-spacing  : -5px;
    margin-bottom : 14px;
    padding-left  : 37px;

    @media (max-width: 1023.5px) {
        font-size  : 18px;
        margin-left: -6px;
    }

}

.footer__title-about {
    font-family: $robo;
    font-size  : 12px;
    color      : #707C87;
    line-height: 140%;

    @media (max-width: 1023.5px) {
        font-size: 0;
    }
}

.footer__title-about--tablet {

    font-size: 0;

    @media (max-width: 1023.5px) {
        font-family : $robo;
        font-size   : 12px;
        color       : #707C87;
        line-height : 140%;
        width       : 252px;
        order       : 4;
        margin-right: 88px;

    }
}

.footer__list {
    margin-top  : -2px;
    margin-right: 111px;

    @media (max-width: 1023.5px) {
        order        : 2;
        margin-top   : -11px;
        margin-right : 245px;
        margin-bottom: 15px;

    }
}

.footer__item {
    font-family  : $robo;
    font-weight  : 500;
    font-size    : 16px;
    color        : #1F1E25;
    margin-bottom: 15px;

    .footer:nth-child(4) {
        margin-bottom: 0px;
    }
}

.footer__short-call {
    max-width   : 167px;
    margin-right: 113px;

    @media (max-width: 1023.5px) {
        order : 1;
        margin: 0;
    }
}

.footer__short-number {
    font-family  : $robo;
    font-weight  : 500;
    font-size    : 16px;
    color        : #1F1E25;
    position     : relative;
    margin-bottom: 6px;
    display      : inline-block;

    &::before {
        content          : '';
        position         : absolute;
        background       : url("img/short-call.svg");
        background-repeat: no-repeat;
        width            : 16px;
        height           : 16px;
        left             : -30px;
        top              : 2px;

        @media (max-width: 1023.5px) {
            top: -2px;
        }
    }
}

.footer__short-call-info {
    font-family: $robo;
    font-size  : 12px;
    color      : #707C87;
    line-height: 140%;
    white-space: nowrap;
}

.footer__free-call {
    font-family : $robo;
    font-weight : 500;
    font-size   : 16px;
    color       : #1F1E25;
    max-width   : 122px;
    margin-right: 66px;

    @media (max-width: 1023.5px) {
        order      : 3;
        margin     : 0;
        padding-top: 24px;

    }

}

.footer__free-number {
    font-family  : $robo;
    font-weight  : 500;
    font-size    : 16px;
    color        : #1F1E25;
    position     : relative;
    margin-bottom: 4px;
    white-space  : nowrap;
    display      : inline-block;

    &::before {
        content          : '';
        position         : absolute;
        background       : url("img/free-call.svg");
        background-repeat: no-repeat;
        width            : 16px;
        height           : 16px;
        left             : -33px;
        top              : 2px;
    }
}

.footer__free-call-info {
    font-family: $robo;
    font-size  : 12px;
    color      : #707C87;
    line-height: 140%;
}

.footer__media-links {
    @include flex;
    justify-content: flex-start;

    @media (max-width: 1023.5px) {
        order     : 5;
        margin-top: -26px;
    }
}

.footer__item-media {
    margin-left: 30px;
}

.footer__list-link {
    color      : #1F1E25;
    white-space: nowrap;
    font-weight: 600;

    @media (max-width: 1023.5px) {
        font-size: 16px;
    }
}

.footer__fb {
    position: relative;

    &::before {
        content          : '';
        position         : absolute;
        background       : url("img/fb.svg");
        background-repeat: no-repeat;
        width            : 16px;
        height           : 16px;
        right            : 0px;
        top              : 0px;
    }
}

.footer__insta {
    position: relative;

    &::before {
        content          : '';
        position         : absolute;
        background       : url("img/insta.svg");
        background-repeat: no-repeat;
        width            : 16px;
        height           : 16px;
        right            : 6px;
        top              : 0px;

        @media (max-width: 1023.5px) {
            right: 2px;
        }
    }
}

.footer__twitter {
    position: relative;

    &::before {
        content          : '';
        position         : absolute;
        background       : url("img/twitter.svg");
        background-repeat: no-repeat;
        width            : 16px;
        height           : 16px;
        right            : 5px;
        top              : 2px;

        @media (max-width: 1023.5px) {
            right: -5px;
        }
    }
}

.footer__youtube {
    position: relative;

    &::before {
        content          : '';
        position         : absolute;
        background       : url("img/youtube.svg");
        background-repeat: no-repeat;
        width            : 16px;
        height           : 16px;
        right            : 4px;
        top              : 2px;

        @media (max-width: 1023.5px) {
            right: -11px;
        }
    }
}