.header__inner {
    @include flex;
    width      : 1370px;
    align-items: flex-end;
    margin     : 0 auto;
    padding    : 27px 100px 40px 100px;

    @media (max-width: 1023.5px) {
        width     : 768px;
        padding   : 23px 45px 24px 45px;
        background: rgba(246, 247, 255, 1);
    }

    @media (max-width: 767.5px) {
        width   : 320px;
        padding : 12px 15px 19px 15px;
        position: relative;
    }
}


.header__nav-item-mobile {
    margin-left: auto;
    display    : none;

    @media (max-width: 1023.5px) {
        margin: 0
    }

    @media (max-width: 767.5px) {
        display: block;
    }
}

.header__logo-container {
    @include flex;
    align-items : flex-end;
    margin-right: 110px;

    @media (max-width: 1023.5px) {
        margin-right: 66px;
    }

    @media (max-width: 767.5px) {
        margin-right: 0;
        padding-left: 47px;
    }
}

.header__img {
    margin-right: 1px;

    @media (max-width: 1023.5px) {
        width : 24px;
        height: 22px;
    }

    @media (max-width: 767.5px) {
        width   : 18px;
        height  : 17px;
        position: absolute;
        bottom  : 16px;
        left    : 45px;
    }
}

.header__logo-text {
    margin-left   : 9px;
    font-family   : $work;
    font-weight   : bold;
    font-size     : 20px;
    margin-bottom : -3px;
    letter-spacing: 0.4px;

    white-space: nowrap;

    @media (max-width: 1023.5px) {
        font-size: 18px;
    }

    @media (max-width: 767.5px) {
        font-size  : 16px;
        padding-top: 4px;
    }
}

.header__nav {
    @include flex;
    margin-bottom: -2px;
    width        : 100%;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media (max-width: 1023.5px) {
        padding-bottom : 2px;
        justify-content: flex-start;
    }

    @media (max-width: 767.5px) {
        display       : none;
        flex-direction: row;
        position      : absolute;
        top           : 48px;
        left          : 0;
        flex-wrap     : wrap;
        background    : rgba(246, 247, 255, 1);
        padding       : 29px 15px;
        height        : 100vh;
        z-index       : 100;
    }
}

.header__nav-item {
    margin-right: 25px;

    @media (max-width: 1023.5px) {
        margin-right: 21px;
    }

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: 767.5px) {
        margin-right  : 21px;
        display       : block;
        width         : 100%;
        border-bottom : 1px solid #C1C2CA;
        padding-left  : 16px;
        padding-top   : 25px;
        padding-bottom: 18px;

        &:first-child {
            border-top: 1px solid #C1C2CA;
        }
    }


}

.header__link {
    font-family: $robo;
    font-size  : 16px;
    color      : #1F1E25;
    white-space: nowrap;

    @media (max-width: 1023.5px) {
        font-size: 14px;
    }

    @media (max-width: 767.5px) {
        font-size: 16px;
    }
}

.header__logo-btn {
    display: none;

    @media (max-width: 767.5px) {
        display   : block;
        background: transparent;
        position  : relative;

        &::before {
            content : url("img/mobile-menu.svg");
            width   : 16px;
            height  : 10px;
            bottom  : 2px;
            position: absolute;
            left    : -47px;
            top     : -12px;
        }
    }
}

.header__link {
    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.4;
    }

    &:focus {
        border: 1px solid #2C36F2;
    }
}

.header__link--active {
    color: #2C36F2;
}

.header__link--login {
    position: relative;

    @media (max-width: 1023.5px) {
        font-size: 0;
    }

    @media (max-width: 767.5px) {
        font-size   : 16px;
        padding-left: 30px;
    }

    &::before {
        content          : '';
        position         : absolute;
        width            : 20px;
        height           : 22px;
        background-image : url("img/login.svg");
        background-repeat: no-repeat;
        left             : -30px;
        bottom           : 0;

        @media (max-width: 1023.5px) {
            left  : 27px;
            bottom: -4px;
        }

        @media (max-width: 767.5px) {
            bottom: 2px;
            left  : 0;
        }
    }
}

.header__link--login-mobile {
    position: relative;

    @media (max-width: 1023.5px) {
        font-size: 0;
    }

    @media (max-width: 767.5px) {
        right   : 56px;
        position: absolute;
        top     : 17px;
    }

    &::before {
        content          : '';
        position         : absolute;
        width            : 20px;
        height           : 22px;
        background-image : url("img/login.svg");
        background-repeat: no-repeat;
        left             : -30px;
        bottom           : 0;

        @media (max-width: 1023.5px) {
            left  : 27px;
            bottom: -4px;
        }

        @media (max-width: 767.5px) {
            background-image: url("img/mobile-login.svg");
            width           : 14px;
            height          : 16px;
            position        : absolute;
            right           : -104px;
            top             : -1px;
        }
    }
}

.header__nav-item--enter {
    margin-left: auto;

    @media (max-width: 1023.5px) {
        margin: 0
    }
}

.header__link--close-menu {
    display   : block;
    background: transparent;
    position  : relative;


    &::before {
        content : url("img/mobile-close.svg");
        width   : 12px;
        height  : 12px;
        position: absolute;
        right   : -143px;
        top     : -14px;
    }
}

.header__inner-active .header__nav {
    display: block;
}