.header {
    //padding: 0 98px;
}

.header__inner {
    @include flex;
    padding        : 27px 100px;
    width          : 1370px;
    align-items    : flex-end;
    justify-content: flex-start;
    margin         : 0 auto;
    padding-bottom: 40px;
}

.header__logo-container {
    @include flex;
    align-items: flex-end;
    margin-right: 110px;
}

.header__img {
    margin-right   : 1px;
    margin-left: -2px;

}

.header__logo-text {
    margin-left   : 9px;
    font-family   : $work;
    font-weight   : bold;
    font-size     : 20px;
    margin-bottom : -3px;
    letter-spacing: 0.4px;
}

.header__nav {
    @include flex;
}

.header__nav-item {
    margin-right: 25px;
}

.header__link {
    font-family: $robo;
    font-size  : 16px;
    color      : #1F1E25;
}

.header__link--active {
    color: #2C36F2;
}

.header__link--login {
    position   : relative;

    &::before {
        content          : '';
        position         : absolute;
        width            : 20px;
        height           : 22px;
        background-image : url("img/login.svg");
        background-repeat: no-repeat;
        left             : -28px;
        bottom           : -2px;
    }
}

.header__nav-item--contacts{
    margin-right: 266px;
}

.header__nav-item--enter{
    margin-right: 0;
}