.insurance__inner {
    width  : 1170px;
    margin : 0 auto;
    padding: 53px 135px 57px 70px;
    @include flex;
    background : rgba(246, 247, 255, 1);
    align-items: flex-start;

    @media (max-width: 1023.5px) {
        width  : 772px;
        padding: 54px 46px;
    }
}

.insurance__inner-left-title {
    font-family  : $robo;
    font-weight  : 500;
    font-size    : 22px;
    color        : rgba(31, 30, 37, 1);
    margin-bottom: 30px;
    line-height  : 140%;
    width        : 337px;

    @media (max-width: 1023.5px) {
        font-size    : 18px;
        width        : 296px;
        margin-bottom: 27px;
    }
}

.insurance__inner-left-list {}

.insurance__inner-left-list-item {
    font-family  : $robo;
    font-size    : 18px;
    position     : relative;
    padding-left : 21px;
    margin-bottom: 20px;

    @media (max-width: 1023.5px) {
        font-size   : 16px;
        padding-left: 22px;
    }

    &::before {
        content : url("img/check-tab.svg");
        position: absolute;
        left    : -1px;
    }

    &:last-child {
        margin-bottom: 38px;

        @media (max-width: 1023.5px) {
            width        : 360px;
            margin-bottom: 31px;
        }
    }
}

.insurance__inner-left-btn {
    background    : rgba(44, 54, 242, 1);
    font-family   : $robo;
    font-weight   : 500;
    font-size     : 18px;
    color         : #F6F7FF;
    border-radius : 4px;
    width         : 198px;
    display       : block;
    text-align    : center;
    padding       : 15px 16px;
    letter-spacing: -1px;

    @media (max-width: 1023.5px) {
        font-size     : 16px;
        letter-spacing: 0px;
    }
}

.insurance__inner-right {
    background: url("img/tab-3.png") 0 -5px /auto auto no-repeat;
    width     : 440px;
    height    : 290px;

    @media (max-width: 1023.5px) {
        background: url("img/tab-tab-3.png") 0 8px /auto auto no-repeat;
    }
}

.insurance__inner-left {
    width: 395px;

    @media (max-width: 1023.5px) {
        margin-right: 30px;
    }
}