.insurance__inner {
    width  : 1170px;
    margin : 0 auto;
    padding: 53px 135px 57px 70px;
    @include flex;
    background : rgba(246, 247, 255, 1);
    align-items: flex-start;

    @media (max-width: 1023.5px) {
        width  : 772px;
        padding: 54px 46px;
    }

    @media (max-width: 767.5px) {
        width   : 320px;
        padding : 54px 35px 120px 15px;
        position: relative;
    }
}

.insurance__inner-left-title {
    font-family  : $robo;
    font-weight  : 500;
    font-size    : 22px;
    color        : rgba(31, 30, 37, 1);
    margin-bottom: 30px;
    line-height  : 140%;
    width        : 337px;

    @media (max-width: 1023.5px) {
        font-size    : 18px;
        width        : 296px;
        margin-bottom: 27px;
    }

    @media (max-width: 767.5px) {
        font-size    : 16px;
        margin-bottom: 23px;
        width        : 272px;
    }
}

.insurance__inner-left-list {
    @media (max-width: 767.5px) {
        width: 227px;
    }
}

.insurance__inner-left-list-item {
    font-family  : $robo;
    font-size    : 18px;
    position     : relative;
    padding-left : 21px;
    margin-bottom: 20px;

    @media (max-width: 1023.5px) {
        font-size   : 16px;
        padding-left: 22px;
    }

    @media (max-width: 767.5px) {
        font-size    : 14px;
        padding-left : 15px;
        margin-bottom: 16px;

    }

    &::before {
        content : url("img/check-tab.svg");
        position: absolute;
        left    : -1px;

        @media (max-width: 767.5px) {
            left: -2px;
        }
    }

    &:last-child {
        margin-bottom: 38px;

        @media (max-width: 1023.5px) {
            width        : 360px;
            margin-bottom: 31px;
        }

        @media (max-width: 767.5px) {
            width        : auto;
            margin-bottom: 28px;
        }
    }
}

.insurance__inner-left-btn {
    background    : rgba(44, 54, 242, 1);
    font-family   : $robo;
    font-weight   : 500;
    font-size     : 18px;
    color         : #F6F7FF;
    border-radius : 4px;
    width         : 198px;
    display       : block;
    text-align    : center;
    padding       : 15px 16px;
    letter-spacing: -1px;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.4;
    }

    @media (max-width: 1023.5px) {
        font-size     : 16px;
        letter-spacing: 0px;
    }

    @media (max-width: 767.5px) {
        font-size     : 14px;
        width         : 290px;
        padding-bottom: 12px;
        letter-spacing: 0;
        padding-left  : 13px;
    }
}

.insurance__inner-right {
    background: url("img/tab-3.png") 0 -5px /auto auto no-repeat;
    width     : 440px;
    height    : 290px;

    @media (max-width: 1023.5px) {
        background: url("img/tab-tab-3.png") 0 8px /auto auto no-repeat;
    }

    @media (max-width: 767.5px) {
        background: url("img/mobile-tab-3.png") 0 8px /auto auto no-repeat;
        position  : absolute;
        padding   : 1px;
        right     : 0px;
        top       : 89px;
        width     : 87px;
        height    : 113px;
    }
}

.insurance__inner-left {
    width: 395px;

    @media (max-width: 1023.5px) {
        margin-right: 30px;
    }

    @media (max-width: 767.5px) {
        @include m0p0
    }
}