.offer-send {
    background: rgba(246, 247, 255, 1);
    padding   : 51px 67px;
    max-width : 500px;

    @media (max-width: 1365.5px) and (min-width: 768px) {
        width         : 678px;
        max-width     : none;
        padding-bottom: 56px;
    }

    @media (max-width: 767.5px) {
        width  : 290px;
        padding: 0;
        margin : 0 auto;
    }
}

.offer-send__title {
    font-family  : $robo;
    font-weight  : 600;
    font-size    : 22px;
    color        : #1F1E25;
    margin-bottom: 16px;
    margin-left  : -3px;

    @media (max-width: 767.5px) {
        font-size : 18px;
        text-align: center;
        width     : 196px;

    }

}

.offer-send__text {
    font-family: $robo;
    font-size  : 16px;
    line-height: 140%;
    color      : #394959;
    max-width  : 293px;
    text-align : center;
}

.offer-send__inner {
    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;
    padding-top    : 5px;

    @media (max-width: 767.5px) {
        padding: 40px 26px;
    }
}

.offer-send__close {
    cursor  : pointer;
    float   : right;
    position: absolute;
    right   : 44px;
    top     : 30px;

    @media (max-width: 1365.5px) and (min-width: 768px) {
        right: -129px;
        top  : 35px;
    }

    @media (max-width: 767.5px) {
        right: 144px;
        top  : 23px;
    }

}

.offer-send__close:before,
.offer-send__close:after {
    content   : "";
    position  : absolute;
    width     : 21px;
    height    : 2px;
    background: #555;
}

.offer-send__close:before {
    webkit-transform: rotate(45deg);
    transform       : rotate(45deg);
}

.offer-send__close:after {
    webkit-transform: rotate(-45deg);
    transform       : rotate(-45deg);
}