.offer {
    background: rgba(246, 247, 255, 1);
    max-width : 500px;
    padding   : 44px;
    height    : 225px;

    @media (max-width: 1023.5px) {
        max-width: 100%;
    }
}

.offer__inner {
    padding-top : 9px;
    padding-left: 14px;

    @media (max-width: 1023.5px) {
        padding-left: 17px;
    }
}

.offer__title {
    font-family   : $robo;
    font-weight   : 600;
    font-size     : 22px;
    color         : #1F1E25;
    margin-bottom : 10px;
    padding-bottom: 2px
}

.offer__list {
    @include flex;
    justify-content: flex-start;
    flex-wrap      : wrap;
}

.offer__item {
    font-family  : $robo;
    font-weight  : 600;
    font-size    : 22px;
    color        : #1F1E25;
    margin-bottom: 35px;
    margin-right : 15px;

    &:nth-child(2n) {
        margin-right: 0;
    }
}

.offer__item--1 {
    margin-right: 52px;

}

.offer__item--3 {
    margin-right: 61px;
}

.offer__item-about {
    font-family: $robo;
    font-size  : 16px;
    color      : #394959;
    display    : block;
    font-weight: 400;
}

.offer__btn {
    background    : rgba(44, 54, 242, 1);
    font-family   : $robo;
    font-weight   : 500;
    font-size     : 18px;
    color         : #F6F7FF;
    border-radius : 4px;
    width         : 100%;
    display       : block;
    text-align    : center;
    padding       : 15px 16px;
    letter-spacing: -1px;
}

.offer__error-text {
    font-family: $robo;
    font-size  : 16px;
    color      : #394959;
    max-width  : 253px;
    line-height: 140%;
}

.offer__title--error {
    line-height: 140%;

    @media (max-width: 1023.5px) {
        width: 350px;
    }
}

.offer__item-numer {
    display      : inline-block;
    margin-bottom: 10px;
}

.offer--succes {
    height        : auto;
    padding-bottom: 61px;
}

.offer__inner--succes {
    padding-top: 14px;
}

.offer--succes .offer__title {
    margin-bottom: 30px;
}

.offer--succes .offer__item--1 {
    margin-right: 53px;
}

.offer--succes .offer__btn {
    width: 96%;

    @media (max-width: 1023.5px) {
        width: 97%;
    }
}