.online__inner {
    width  : 1170px;
    margin : 0 auto;
    padding: 57px 135px 57px 68px;
    @include flex;
    background: rgba(246, 247, 255, 1);
}

.online__inner-left-title {
    font-family  : $robo;
    font-weight  : 500;
    font-size    : 22px;
    color        : rgba(31, 30, 37, 1);
    margin-bottom: 35px;

}

.online__inner-left-list {}

.online__inner-left-list-item {
    font-family  : $robo;
    font-size    : 18px;
    position     : relative;
    padding-left : 20px;
    margin-bottom: 15px;

    &::before {
        content : url("img/check-tab.svg");
        position: absolute;
        left    : 0;
    }

    &:last-child {
        margin-bottom: 35px;
    }
}

.online__inner-left-btn {
    background   : rgba(44, 54, 242, 1);
    font-family  : $robo;
    font-weight  : 500;
    font-size    : 18px;
    color        : #F6F7FF;
    border-radius: 4px;
    width        : 243px;
    display      : block;
    text-align   : center;
    padding      : 17px 16px;
}

.online__inner-right {
    background: url("img//tab-4.png") 0 0/auto auto no-repeat;
    width     : 440px;
    height    : 290px;
}

.online__inner-left {
    width: 395px;
}