.section {
    background  : linear-gradient(180.24deg, rgba(32, 39, 179, 0) 32.89%, #2027B3 99.79%), #2C36F2;
    padding-left: 151px;

    @media (max-width: 1023.5px) {
        padding-left: 0;
    }
}

.section__wrapper {
    background: linear-gradient(180.24deg, rgba(32, 39, 179, 0) 32.89%, #2027B3 99.79%), #2C36F2;
    width     : 1215px;
    padding   : 0px 300px 0px 0px;
    margin    : 0 auto;

    @media (max-width: 1023.5px) {
        width  : 768px;
        padding: 0
    }

    @media (max-width: 767.5px) {
        width: 100%;
        margin:  0 auto;
    }

}

.section__inner {
    background: linear-gradient(183.47deg, rgba(56, 65, 255, 0) 27.26%, #3841FF 97.14%);
    padding   : 0px 269px 0px 149px;

    @media (max-width: 767.5px) {
        padding: 0;
    }
}

.section__container {
    @include flex;
    justify-content: flex-start;
    background     : #2C36F2;
    justify-content: space-between;

    @media (max-width: 1023.5px) {
        padding-bottom: 48px;
    }

    @media (max-width: 767.5px) {
        padding-left  : 15px;
        padding-bottom: 17px;

    }
}

.section__left {
    padding-bottom: 115px;

    @media (max-width: 1023.5px) {
        padding-bottom: 29px;
        margin-left   : -33px;
    }

    @media (max-width: 767.5px) {
        margin: 0;
    }
}

.section__title {
    font-family: $robo;
    font-style : normal;
    font-weight: bold;
    font-size  : 54px;
    color      : #F6F7FF;
    width      : 259px;
    @include m0p0;
    padding-top   : 115px;
    padding-bottom: 13px;
    margin-left   : -33px;
    margin-top    : -7px;

    @media (max-width: 1023.5px) {
        font-size  : 46px;
        margin-top : -47px;
        margin-left: -51px;
    }

    @media (max-width: 767.5px) {
        font-size    : 38px;
        margin       : 0;
        padding      : 0;
        margin-left  : -39px;
        padding-top  : 42px;
        margin-bottom: 11px;
    }
}

.section__text {
    font-family: $robo;
    font-size  : 22px;
    color      : #E0E1EA;
    @include m0p0;
    padding-bottom: 37px;
    width         : 275px;
    margin-left   : -33px;

    @media (max-width: 1023.5px) {
        font-size     : 18px;
        margin-left   : -30px;
        margin-top    : -2px;
        padding-bottom: 34px;

    }

    @media (max-width: 767.5px) {
        font-size: 16px;
        width    : auto;
        @include m0p0;
        margin-bottom: 26px;

    }
}

.section__button {
    position     : relative;
    background   : #F6F7FF;
    font-family  : $robo;
    font-weight  : 500;
    font-size    : 18px;
    color        : #1F1E25;
    border-radius: 4px;
    width        : 234px;
    display      : block;
    text-align   : center;
    padding      : 17px 16px;
    margin-left  : -32px;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.4;
    }

    @media (max-width: 1023.5px) {
        width    : 206px;
        padding  : 15px 16px;
        font-size: 16px;
    }

    @media (max-width: 767.5px) {
        font-size  : 14px;
        width      : 188px;
        padding    : 16px 31px 17px 31px;
        margin-left: 0;
    }
}

.section__right {
    position: relative;

    &::before {
        @media (max-width: 767.5px) {
            content: none;
        }

        content          : '';
        position         : absolute;
        width            : 315px;
        height           : 202px;
        background-image : url("img/white-card.png");
        background-repeat: no-repeat;
        top              : -138px;
        right            : -325px;

        @media (max-width: 1023.5px) {
            background-image: url("img/tablet-white-card.png");
            top             : -89px;
            right           : -249px;
        }
    }

    &::after {
        content          : '';
        position         : absolute;
        width            : 315px;
        height           : 202px;
        background-image : url("img/black-card.png");
        background-repeat: no-repeat;
        top              : -80px;
        right            : -216px;

        @media (max-width: 1023.5px) {
            background-image: url("img/tablet-black-card.png");
            top             : -44px;
            right           : -164px;

            @media (max-width: 767.5px) {
                background-image: url("img/mobile-black-card.png");
                width           : 122px;
                top             : -77px;
                right           : -17px;
            }
        }
    }
}