.services {
    margin-bottom: 109px;
    padding      : 0 99px;

    @media (max-width: 1023.5px) {
        margin-bottom: 0px;
        padding      : 0;
    }

    @media (max-width: 767.5px) {
        margin-bottom: 30px;
    }
}


.services-list-inner {
    width : 1170px;
    margin: 0 auto;
}

.services-list-list {
    @include flex;
    justify-content: flex-start;
    width          : inherit;
}



.services-list-item {
    font-family  : $robo;
    font-weight  : 500;
    font-size    : 18px;
    border-radius: 5px 5px 0 0;
    flex-basis   : 25%;
    text-align   : center;
}

.services-list-item--active {
    background-color: rgba(246, 247, 255, 1);
    transition      : all 0.3s ease-out;
}

.services-link {
    color       : #4C4B51;
    padding-left: 45px;
    display     : block;
    padding     : 37px 0;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.4;
    }

    &:focus {
        border: 1px solid #2C36F2;
    }
}

.services-link--deposits {
    position    : relative;
    padding-left: 45px;

    &::before {
        content : url("img/deposits.svg");
        position: absolute;
        left    : 91px;
        top     : 30px;

    }
}

.services-link--credits {
    position    : relative;
    padding-left: 45px;

    &::before {
        content : url("img/credits.svg");
        position: absolute;
        left    : 87px;
        top     : 30px;

    }
}

.services-link--insurance {
    position    : relative;
    padding-left: 40px;

    &::before {
        content : url("img/insuranse.svg");
        position: absolute;
        left    : 73px;
        top     : 29px;

    }
}

.services-link--online {
    position    : relative;
    padding-left: 30px;

    &::before {
        content : url("img/online.svg");
        position: absolute;
        left    : 60px;
        top     : 29px;

    }
}