.slider2 {
    background: linear-gradient(90deg, rgba(221, 226, 236, 1) 38%, rgba(243, 249, 255, 1) 71%);
}


.slider2__inner {
    background     : url("img/slider-2.png") 50%/auto auto no-repeat;
    height         : 400px;
    display        : flex;
    align-items    : center;
    justify-content: center;

    @media (max-width: 1023.5px) and (min-width: 768px) {
        background: url("img/tab-slider-2.png") 50%/auto auto no-repeat;
        height    : 301px;
    }

    @media (max-width: 767.5px) {
        background : url("img/mobile-slider-3.png") 100%/auto auto no-repeat;
        height     : 226px;
        display    : block;
        padding-top: 1px;
        width: 100%;
        margin:  0 auto;
    }
}


.slider2__inner-title {
    font-family: $robo;
    font-size  : 54px;
    font-weight: 700;
    z-index    : 1;

    @media (max-width: 1023.5px) and (min-width: 768px) {
        font-size: 46px;
    }

    @media (max-width: 767.5px) {
        font-size: 38px;
        @include m0p0;
        padding-left : 15px;
        padding-top  : 41px;
        margin-bottom: 12px;
    }
}


.slider2__inner-text {
    font-family: $robo;
    font-size  : 22px;

    @media (max-width: 1023.5px) and (min-width: 768px) {
        font-size: 18px;

    }

    @media (max-width: 767.5px) {
        font-size: 16px;
        @include m0p0;
        width        : 157px;
        margin       : 0px;
        padding      : 0px;
        margin-bottom: 26px;
        padding-left : 15px;
        line-height  : 110%;
    }
}

.slider2__inner-wrapper {
    margin-left: -444px;
    margin-top : -100px;

    @media (max-width: 1023.5px) and (min-width: 768px) {
        margin-left: -277px;
        margin-top : -86px;
    }

    @media (max-width: 767.5px) {
        @include m0p0;
    }

}


.slider2__inner-title {
    margin-bottom: 14px;

    @media (max-width: 767.5px) {

        margin-bottom: 12px;
    }
}