.slider3 {
    background: linear-gradient(90deg, rgba(230, 241, 254, 1) 38%, rgba(230, 241, 254, 1) 71%);
}


.slider3__inner {
    background     : url("img/slider-3.png") 50%/auto auto no-repeat;
    height         : 400px;
    display        : flex;
    align-items    : center;
    justify-content: center;

    @media (max-width: 1365.5px) and (min-width: 768px) {
        background: url("img/tab-slider-3.png") 50%/auto auto no-repeat;
        height    : 301px;
        display   : block;
    }

    @media (max-width: 767.5px) {
        background : url("img/mobile-slider-2.png") 100%/auto auto no-repeat;
        height     : 226px;
        display    : block;
        padding-top: 1px;
        width: 100%;
        margin:  0 auto;
    }
}

.slider3__inner-title {
    font-family: $robo;
    font-size  : 54px;
    font-weight: 700;
    z-index    : 1;

    @media (max-width: 1365.5px) and (min-width: 768px) {
        font-size: 46px;
    }

    @media (max-width: 767.5px) {
        font-size: 38px;
        @include m0p0;
        margin-bottom: 12px;
    }
}


.slider3__inner-text {
    font-family  : $robo;
    font-size    : 22px;
    margin-bottom: 35px;

    @media (max-width: 1365.5px) and (min-width: 768px) {
        font-size    : 18px;
        padding-left : 87px;
        margin-bottom: 33px;
    }

    @media (max-width: 767.5px) {
        font-size: 16px;
        @include m0p0;
        width        : 157px;
        margin       : 0px;
        padding      : 0px;
        margin-bottom: 26px;
        padding-left : 15px;
        line-height  : 110%;
    }
}

.slider3__inner-wrapper {
    margin-left: -571px;
    margin-top : -10px;

    @media (max-width: 1365.5px) and (min-width: 768px) {
        margin: 0;

    }

    @media (max-width: 767.5px) {
        @include m0p0;
    }
}


.slider3__inner-title {
    margin-bottom: 14px;

    @media (max-width: 1365.5px) and (min-width: 768px) {
        margin-bottom: 10px;
        padding-left : 88px;
        padding-top  : 70px;
    }

    @media (max-width: 767.5px) {
        padding      : 0;
        margin-bottom: 12px;
        padding-top  : 41px;
        padding-left : 14px;
    }
}

.slider3__inner-btn {
    position     : relative;
    background   : rgba(44, 54, 242, 1);
    font-family  : $robo;
    font-weight  : 500;
    font-size    : 18px;
    color        : #F6F7FF;
    border-radius: 4px;
    width        : 243px;
    display      : block;
    text-align   : center;
    padding      : 17px 16px;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.4;
    }

    @media (max-width: 1365.5px) and (min-width: 768px) {
        width         : 206px;
        padding       : 13px 16px;
        margin-left   : 87px;
        letter-spacing: -1px;

    }

    @media (max-width: 767.5px) {
        font-size     : 14px;
        width         : 188px;
        padding       : 16px 31px 11px 31px;
        margin-left   : 15px;
        letter-spacing: 0.1px;
    }


}